.team-item[data-v-e1e4453e] {
    width: 33%;
    height: 350px;
    float: left;
    position: relative;
    text-align: center;
    margin-bottom: 15px;
    animation: scale10Back .4s ease forwards
}
.team-item[data-v-e1e4453e]:hover {
    animation: scale10 .4s ease forwards
}
.team-item .teamCircle[data-v-e1e4453e] {
    width: 124px!important;
    height: 124px!important;
}
.team-item .circle[data-v-e1e4453e] {
    width: 124px;
    height: 124px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 10;
}
.team-item .circle img[data-v-e1e4453e] {
    width: 100%;
    position: absolute;
    left: 75%;
    top: 45%;
    transform: translate(-50%, -50%)
}
.team-item .bg-image[data-v-e1e4453e] {
    position: absolute;
    width: 180px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 19px
}
.team-item .title[data-v-e1e4453e] {
    height: 25px;
    font-family: ProximaNova;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: linear-gradient(180deg, #2f2f42 20%, #717185 80%);
    position: absolute;
    left: 25%;
    bottom: 40px;
    width: 100%
}
.team-item .name[data-v-e1e4453e] {
    font-family: ProximaNova;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: 0 auto;
    width: 100%;
    float: left;
    position: absolute;
    left: 25%;
    bottom: 70px
}
.team-item .team-item-info[data-v-e1e4453e] {
    width: 100%;
    height: auto;
    float: left
}
.team-item .socials[data-v-e1e4453e] {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 10px
}
.team-item .socials .linkedin[data-v-e1e4453e] {
    width: 25px;
    height: 25px;
    margin: 0 auto;
    display: block
}
.team-item .socials .linkedin img[data-v-e1e4453e] {
    width: 100%
}
.team[data-v-211add89] {
    width: calc(100% - 270px);
    height: auto;
    float: left;
    position: relative;
    z-index: 1;
    left: 270px;
    text-align: center;
    padding-top: 75px
}
.team h2[data-v-211add89] {
    font-size: 52px;
    line-height: 65px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    margin-left: 40px;
    font-family: ProximaNova!important;
    text-align: center
}
.team .green[data-v-211add89] {
    color: #63fca3;
    text-shadow: 0px 4px 25px rgba(113, 218, 180, .5)
}
.team .robotic[data-v-211add89] {
    font-family: "Press Start 2P", cursive!important;
    font-size: 40px!important;
    line-height: 55px!important;
    display: inline-block;
    margin-left: 5px
}
.team .team-overview[data-v-211add89] {
    width: 96%;
    margin-left: 4%;
    margin-top: 40px;
    height: auto;
    float: left
}
.team .team-overview .circle[data-v-211add89] {
    width: 162px;
    height: 162px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    top: 74px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto
}
.team .team-overview .circle img[data-v-211add89] {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}
.team .team-overview .team-item[data-v-211add89] {
    width: 33%;
    height: 350px;
    float: left;
    position: relative;
    text-align: center;
    margin-bottom: 15px
}
.team .team-overview .team-item .bg-image[data-v-211add89] {
    position: absolute;
    width: 180px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 19px
}
.team .team-overview .team-item .title[data-v-211add89] {
    font-family: ProximaNova;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: linear-gradient(180deg, #2f2f42 20%, #717185 80%);
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 100%
}
.team .team-overview .team-item .name[data-v-211add89] {
    font-family: ProximaNova;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: 0 auto;
    width: 100%;
    float: left;
    position: absolute;
    left: 0;
    bottom: 70px
}
.team .team-overview .team-item .team-item-info[data-v-211add89] {
    width: 100%;
    height: auto;
    float: left
}
@media only screen and (max-width: 1024px) {
    .team[data-v-211add89] {
        width: 100%;
        left: 0
    }
    .team .team-overview[data-v-211add89] {
        width: 100%;
        margin-left: -20px
    }
    .team h2[data-v-211add89] {
        margin-left: 0!important
    }
}
@media only screen and (max-width: 800px) {
    .team[data-v-211add89] {
        margin-top: 100px
    }
    .team-item[data-v-211add89] {
        width: 100%!important
    }
    .team[data-v-211add89], .team-overview[data-v-211add89] {
        height: auto!important
    }
    .team .team-overview[data-v-211add89] {
        margin-left: 0
    }
}
