@import "../../../public/css/ThemeColors";

.employment-block {
  background: $backgroundThree;
  border: 1px solid  $backgroundThree;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  margin-left: -5px;
  width: 100%;
  img {
    height: 60px;
    width: 60px;
    margin-top: 5px;
  }
  &:hover {
    border: 1px solid #0F406C;
  }
}
