.roomSingle[data-v-8f0c54c8]a[data-v-c58c1f46] {
    color: #fff;
    text-decoration: none
}
.buy[data-v-c58c1f46] {
    width: 200px;
    height: 50px;
    line-height: 50px;
    background: #23232f;
    border: 1px solid #454558;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0;
    font-family: Dosis;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 152.4%;
    letter-spacing: .035em;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff
}
.buy img[data-v-c58c1f46] {
    margin-bottom: -5px;
    margin-left: 5px;
    width: 20px
}
.buy[data-v-c58c1f46]:hover {
    background: linear-gradient(90deg, #00d1e6 33.58%, #00dacb 85.82%);
    border: 1px solid #fff
}
.buy[data-v-6924bbdc] {
    height: 50px;
    line-height: 50px;
    width: 200px;
    background: #23232f;
    border: 1px solid #454558;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0;
    font-family: Dosis;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 152.4%;
    letter-spacing: .035em;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff
}
.buy img[data-v-6924bbdc] {
    margin-bottom: -5px;
    margin-left: 5px;
    width: 20px
}
.buy[data-v-6924bbdc]:hover, .green[data-v-6924bbdc] {
    background: linear-gradient(90deg, #00d1e6 33.58%, #00dacb 85.82%);
    border: 1px solid #fff
}
.cancelListing[data-v-7543562f] {
    width: 200px;
    height: 50px;
    line-height: 50px;
    background: #23232f;
    border: 1px solid #454558;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0;
    font-family: Dosis;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 152.4%;
    letter-spacing: .035em;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff
}
.cancelListing img[data-v-7543562f] {
    margin-bottom: -5px;
    margin-left: 5px;
    width: 20px
}
.cancelListing[data-v-7543562f]:hover {
    background: linear-gradient(90deg, #00d1e6 33.58%, #00dacb 85.82%);
    border: 1px solid #fff
}
.ownerOf[data-v-7ee0c82d] {
    border-radius: 5px;
    line-height: 45px;
    text-align: center;
    font-size: 15px;
    color: #9393a4;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 15px;
    cursor: pointer
}
.ownerOf .owner[data-v-7ee0c82d] {
    color: #fff;
    font-weight: 700;
    margin-right: 10px
}
.button[data-v-7ee0c82d] {
    width: 150px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    background: #23232f;
    border: 1px solid #454558;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0;
    font-family: Dosis;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 152.4%;
    letter-spacing: .035em;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff
}
.button img[data-v-7ee0c82d] {
    margin-bottom: -5px;
    margin-left: 5px;
    width: 20px
}
.button[data-v-7ee0c82d]:hover {
    background: linear-gradient(90deg, #00d1e6 33.58%, #00dacb 85.82%);
    border: 1px solid #fff
}
.owner-address[data-v-7ee0c82d] {
    float: left;
    margin-top: 0;
    height: 48px
}
@media screen and (max-width:768px) {
    .pre-order[data-v-8f0c54c8] {
        width: 100vw
    }
}
.pre-order[data-v-8f0c54c8] {
    overflow-x: hidden!important;
    overflow-y: hidden;
    height: auto;
    position: relative
}
.pre-order .loading-wrapper[data-v-8f0c54c8] {
    height: 80vh;
    font-weight: 900;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff
}
.pre-order .loading-wrapper span[data-v-8f0c54c8] {
    margin-top: 30px;
    color: #fff;
    font-size: 16px;
    font-weight: 600
}
.pre-order .loading-wrapper span button[data-v-8f0c54c8] {
    cursor: pointer;
    border: 0;
    color: #fff;
    background: linear-gradient(90deg, #3cc4d7 9.56%, #6df3d3 109.69%, #61fea0 193.17%)!important;
    border-radius: 3px;
    padding: 10px 20px;
    font-weight: 600
}
.pre-order .extra-info[data-v-8f0c54c8] {
    width: calc(100% - 350px);
    margin-top: 100px;
    float: left;
    margin-left: 280px
}
.pre-order .extra-info .title[data-v-8f0c54c8] {
    font-size: 24px;
    color: #fff;
    text-align: left;
    width: 100%;
    font-weight: 900
}
.pre-order .extra-info .more-nft[data-v-8f0c54c8] {
    width: 45%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 10px
}
.pre-order .extra-info .history[data-v-8f0c54c8] {
    width: 45%;
    float: left;
    padding: 50px 10px
}
.pre-order .extra-info .history .wrapper[data-v-8f0c54c8] {
    margin-top: 20px;
    background: linear-gradient(180deg, #2e2e3c 55.66%, #23232f 125.89%);
    width: 95%;
    color: #fff;
    border-radius: 5px;
    padding: 15px
}
.pre-order .extra-info .history .wrapper button[data-v-8f0c54c8] {
    cursor: pointer;
    margin-top: 10px;
    color: #fff;
    background: #2c3e50;
    border: 1px solid #fff;
    padding: 10px 10px;
    border-radius: 5px
}
.pre-order .extra-info .history .wrapper .items[data-v-8f0c54c8] {
    width: 100%;
    color: #fff;
    font-size: 20px;
    display: flex;
    border-bottom: 1px solid #454558
}
.pre-order .extra-info .history .wrapper .items[data-v-8f0c54c8]:hover {
    background: hsla(0, 0%, 100%, .151)
}
.pre-order .extra-info .history .wrapper .items .dot[data-v-8f0c54c8] {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    float: left;
    margin-right: 5px
}
.pre-order .extra-info .history .wrapper .items .green[data-v-8f0c54c8] {
    background: #63fca3
}
.pre-order .extra-info .history .wrapper .items .red[data-v-8f0c54c8] {
    background: #c63b3b
}
.pre-order .extra-info .history .wrapper .items .buyer-seller[data-v-8f0c54c8] {
    width: 40%;
    font-family: Dosis;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .035em;
    text-align: left;
    color: hsla(0, 0%, 100%, .5)
}
.pre-order .extra-info .history .wrapper .items .buyer-seller .username[data-v-8f0c54c8] {
    font-weight: 600;
    color: #fff
}
.pre-order .extra-info .history .wrapper .items .price[data-v-8f0c54c8] {
    width: 20%;
    font-family: Dosis;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: .035em;
    text-align: right
}
.pre-order .extra-info .history .wrapper .items .price .date[data-v-8f0c54c8] {
    background: #454558
}
.sell-nft-overlay[data-v-8f0c54c8] {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 555555
}
.sell-nft-overlay .sell-nft[data-v-8f0c54c8] {
    width: 400px;
    height: 450px;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(90.6deg, #2e2e3c 55.82%, #23232f 98.55%);
    box-shadow: 0 4px 45px rgba(0, 0, 0, .25);
    border-radius: 5px;
    text-align: left
}
.sell-nft-overlay .sell-nft .button-holder[data-v-8f0c54c8] {
    height: 60px;
    width: 100px;
    width: 80%;
    margin-top: 30px;
    margin-left: 40px;
    float: left
}
.sell-nft-overlay .sell-nft .button-holder .whitepaper[data-v-8f0c54c8] {
    height: 60px;
    width: 90%;
    margin-left: 5%;
    position: relative
}
.sell-nft-overlay .sell-nft .button-holder .whitepaper a[data-v-8f0c54c8] {
    display: block;
    text-decoration: none;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    width: 89%;
    margin-left: 1%;
    margin-top: 7px;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    background: linear-gradient(87.46deg, #3cc4d7 -3.04%, #6df3d3 92.88%, #61fea0 172.86%);
    border-radius: 10px;
    border: 0;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 55
}
.sell-nft-overlay .sell-nft .button-holder .whitepaper .fade[data-v-8f0c54c8] {
    height: 50px;
    width: 90%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(358.84deg, #3cc4d7 -38.41%, rgba(109, 243, 211, .5) 17.27%, rgba(97, 254, 160, 0) 63.69%);
    border-radius: 10px
}
.sell-nft-overlay .sell-nft h1[data-v-8f0c54c8] {
    width: 100%;
    float: left;
    margin-top: 60px;
    margin-left: 40px;
    font-family: Dosis;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 38px;
    text-transform: uppercase;
    color: #fff
}
.sell-nft-overlay .sell-nft .sell-at[data-v-8f0c54c8] {
    width: 100%;
    float: left;
    margin-top: 20px;
    margin-left: 40px;
    font-family: Dosis;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 152.4%;
    letter-spacing: .035em;
    color: #fff
}
.sell-nft-overlay .sell-nft .input-holder[data-v-8f0c54c8] {
    width: 150px;
    height: 50px;
    float: left;
    margin-top: 5px;
    margin-left: 40px;
    background: #23232f;
    border: 1px solid #454558;
    box-sizing: border-box;
    border-radius: 8px;
    position: relative
}
.sell-nft-overlay .sell-nft .bth[data-v-8f0c54c8] {
    position: absolute;
    right: 10px;
    top: 15px;
    font-family: Dosis;
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 152.4%;
    color: #454558
}
.sell-nft-overlay .sell-nft .usd[data-v-8f0c54c8] {
    width: 100%;
    margin-top: 5px;
    font-weight: 400
}
.sell-nft-overlay .sell-nft .disclaimer[data-v-8f0c54c8], .sell-nft-overlay .sell-nft .usd[data-v-8f0c54c8] {
    float: left;
    font-family: Dosis;
    font-style: normal;
    font-size: 12px;
    line-height: 152.4%;
    letter-spacing: .035em;
    color: #9393a4;
    margin-left: 40px
}
.sell-nft-overlay .sell-nft .disclaimer[data-v-8f0c54c8] {
    width: 80%;
    height: auto;
    margin-top: 20px;
    font-weight: 500
}
.sell-nft-overlay .sell-nft input[type=text][data-v-8f0c54c8] {
    width: 80%;
    height: 100%;
    float: left;
    background: transparent;
    border: 0;
    padding-left: 20px;
    color: #fff
}
.sell-nft-overlay .sell-nft input[data-v-8f0c54c8]::-moz-placeholder {
    color: #828489
}
.sell-nft-overlay .sell-nft input[data-v-8f0c54c8]:-ms-input-placeholder {
    color: #828489
}
.sell-nft-overlay .sell-nft input[data-v-8f0c54c8]::placeholder {
    color: #828489
}
.sell-nft-overlay .sell-nft p[data-v-8f0c54c8] {
    width: 80%;
    float: left;
    margin-top: 15px;
    margin-left: 40px;
    font-family: Dosis;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 152.4%;
    letter-spacing: .035em;
    color: #fff
}
.sell-nft-overlay .sell-nft .blue[data-v-8f0c54c8] {
    background: linear-gradient(98.68deg, #3cc4d7 8.75%, #6df3d3 150.1%, #61fea0 267.94%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent
}
.sell-nft-overlay .sell-nft .close-container[data-v-8f0c54c8] {
    margin: auto;
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px
}
.sell-nft-overlay .sell-nft .close-container img[data-v-8f0c54c8] {
    width: 20px
}
.sell-nft-overlay .sell-nft .close-container .close[data-v-8f0c54c8] {
    z-index: 5555
}
.sell-nft-overlay .sell-nft .close-container .close[data-v-8f0c54c8]:hover {
    cursor: pointer
}
.sell-nft-overlay .sell-nft .close-container .cross[data-v-8f0c54c8] {
    width: 20px;
    margin-left: 270px;
    cursor: pointer
}
.sell-nft-overlay .sell-nft .close-container[data-v-8f0c54c8]:hover {
    color: #d3d3d3
}
.roomSingle[data-v-8f0c54c8] {
    width: 100%;
    height: auto;
    min-height: 95vh;
    float: left;
    position: relative;
    z-index: 1;
    text-align: left
}
.roomSingle .season1[data-v-8f0c54c8] {
    width: 75px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background: linear-gradient(99.11deg, #4bde88 -31.56%, #82fc63 215.5%);
    border-radius: 5px;
    float: left;
    margin-top: 10px;
    margin-left: 20px
}
.roomSingle h2[data-v-8f0c54c8] {
    margin-left: 40px
}
.roomSingle p[data-v-8f0c54c8] {
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    font-weight: 400;
    width: 90%;
    margin: 20px
}
.roomSingle .back[data-v-8f0c54c8] {
    width: 90px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 20px;
    background: #454558;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    border: 0;
    cursor: pointer;
    line-height: 35px
}
.roomSingle .back img[data-v-8f0c54c8] {
    width: 8px;
    margin-right: 7px;
    margin-bottom: -1px
}
.roomSingle .left[data-v-8f0c54c8], .roomSingle .right[data-v-8f0c54c8] {
    width: 50%;
    min-height: 135px;
    height: auto;
    float: left
}
.roomSingle .left .nft-title-holder[data-v-8f0c54c8], .roomSingle .right .nft-title-holder[data-v-8f0c54c8] {
    height: 30px;
    width: 280px;
    margin: 0 auto;
    text-align: center
}
.roomSingle .left .nft-title-holder h3[data-v-8f0c54c8], .roomSingle .right .nft-title-holder h3[data-v-8f0c54c8] {
    font-family: Dosis;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0;
    color: #fff;
    font-size: 19px;
    float: left;
    width: 100%;
    text-align: center
}
.roomSingle .left .nft-preview[data-v-8f0c54c8], .roomSingle .right .nft-preview[data-v-8f0c54c8] {
    width: 100%;
    height: auto;
    float: left;
    position: relative
}
.roomSingle .left .nft-preview .circle[data-v-8f0c54c8], .roomSingle .right .nft-preview .circle[data-v-8f0c54c8] {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    margin-top: 90px
}
.roomSingle .left .nft-preview .gold[data-v-8f0c54c8], .roomSingle .right .nft-preview .gold[data-v-8f0c54c8] {
    background: linear-gradient(90deg, #fcb819 33.58%, #f99124 85.82%)!important
}
.roomSingle .left .nft-preview .rare[data-v-8f0c54c8], .roomSingle .right .nft-preview .rare[data-v-8f0c54c8] {
    background: linear-gradient(138.84deg, #9e21a9 2.02%, #7674e0 59.12%, #61e2fe 117.42%)!important
}
.roomSingle .left .nft-preview .common[data-v-8f0c54c8], .roomSingle .right .nft-preview .common[data-v-8f0c54c8] {
    background: linear-gradient(90deg, #00d1e6 33.58%, #00dacb 85.82%)!important
}
.roomSingle .left .nft-preview .super_rare[data-v-8f0c54c8], .roomSingle .right .nft-preview .super_rare[data-v-8f0c54c8] {
    background: linear-gradient(90deg, #e15288 33.58%, #d941a9 85.82%)!important
}
.roomSingle .left .nft-preview .epic[data-v-8f0c54c8], .roomSingle .right .nft-preview .epic[data-v-8f0c54c8] {
    background: linear-gradient(90deg, #f3793d 33.58%, #e4597b 85.82%)!important
}
.roomSingle .left .nft-preview .uncommon[data-v-8f0c54c8], .roomSingle .right .nft-preview .uncommon[data-v-8f0c54c8] {
    background: linear-gradient(90deg, #00e4aa 33.58%, #00e999 85.82%)!important
}
.roomSingle .left .nft-preview .fade[data-v-8f0c54c8], .roomSingle .right .nft-preview .fade[data-v-8f0c54c8] {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    opacity: .5;
    filter: blur(200px);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    margin-top: 90px
}
.roomSingle .left .nft-preview .room-image[data-v-8f0c54c8], .roomSingle .right .nft-preview .room-image[data-v-8f0c54c8] {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    max-height: 350px;
    max-width: 320px;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain
}
.roomSingle .left .information-bar[data-v-8f0c54c8], .roomSingle .right .information-bar[data-v-8f0c54c8] {
    width: 90%;
    min-height: 85px;
    background: linear-gradient(180deg, #2e2e3c 55.66%, #23232f 125.89%);
    box-shadow: 0 4px 45px rgba(0, 0, 0, .15);
    border-radius: 5px;
    float: left;
    height: auto
}
.roomSingle .left .information-bar .vertical-line[data-v-8f0c54c8], .roomSingle .right .information-bar .vertical-line[data-v-8f0c54c8] {
    height: 50px;
    margin-top: 20px;
    width: 1px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    background: linear-gradient(90deg, #2f2f42 -11.48%, #717185 225.43%)
}
.roomSingle .left .information-bar .info-segment[data-v-8f0c54c8], .roomSingle .right .information-bar .info-segment[data-v-8f0c54c8] {
    width: 110px;
    height: 85px;
    float: left;
    text-align: center
}
.roomSingle .left .information-bar .info-segment .tag[data-v-8f0c54c8], .roomSingle .right .information-bar .info-segment .tag[data-v-8f0c54c8] {
    width: 100%;
    color: #717185;
    margin-top: 15px;
    display: block;
    font-size: 13px
}
.roomSingle .left .information-bar .info-segment .value-field[data-v-8f0c54c8], .roomSingle .right .information-bar .info-segment .value-field[data-v-8f0c54c8] {
    width: 60px;
    height: auto;
    font-size: 14px;
    color: #fff;
    padding: 8px 10px;
    background: linear-gradient(89.97deg, #2e2e3c -87.81%, #23232f 85.79%);
    border-radius: 5px;
    margin: 5px auto
}
.roomSingle .left .information-bar .info-segment .no-background[data-v-8f0c54c8], .roomSingle .right .information-bar .info-segment .no-background[data-v-8f0c54c8] {
    background: transparent
}
.roomSingle .left .rarity-holder[data-v-8f0c54c8], .roomSingle .right .rarity-holder[data-v-8f0c54c8] {
    width: 68px;
    height: 10px;
    margin-top: 2px;
    margin-left: 5px;
    margin: 15px auto
}
.roomSingle .left .buy-bar[data-v-8f0c54c8], .roomSingle .right .buy-bar[data-v-8f0c54c8] {
    width: 100%;
    height: auto;
    float: left;
    margin-top: 30px
}
.roomSingle .left .buy-bar .ownerOf[data-v-8f0c54c8], .roomSingle .right .buy-bar .ownerOf[data-v-8f0c54c8] {
    width: 200px;
    height: 45px;
    border: 1px solid #454558;
    border-radius: 5px;
    line-height: 45px;
    text-align: center;
    font-size: 15px;
    color: #9393a4;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 15px;
    cursor: pointer
}
.roomSingle .left .buy-bar .ownerOf .owner[data-v-8f0c54c8], .roomSingle .right .buy-bar .ownerOf .owner[data-v-8f0c54c8] {
    color: #fff;
    font-weight: 700;
    margin-right: 10px
}
.roomSingle .left .buy-bar .ownerOf[data-v-8f0c54c8]:hover, .roomSingle .right .buy-bar .ownerOf[data-v-8f0c54c8]:hover {
    border: 1px solid #fff
}
.roomSingle .left .buy-bar .owner-address[data-v-8f0c54c8], .roomSingle .right .buy-bar .owner-address[data-v-8f0c54c8] {
    float: left;
    margin-top: 0;
    height: 48px
}
.roomSingle .left .buy-bar .button-holder[data-v-8f0c54c8], .roomSingle .right .buy-bar .button-holder[data-v-8f0c54c8] {
    height: 60px;
    width: 100px;
    float: left
}
.roomSingle .left .buy-bar .button-holder .whitepaper[data-v-8f0c54c8], .roomSingle .right .buy-bar .button-holder .whitepaper[data-v-8f0c54c8] {
    height: 60px;
    width: 200px;
    margin-left: 5%;
    position: relative
}
.roomSingle .left .buy-bar .button-holder .whitepaper a[data-v-8f0c54c8], .roomSingle .right .buy-bar .button-holder .whitepaper a[data-v-8f0c54c8] {
    display: block;
    text-decoration: none;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    width: 200px;
    margin-left: 1%;
    margin-top: 7px;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    background: linear-gradient(87.46deg, #3cc4d7 -3.04%, #6df3d3 92.88%, #61fea0 172.86%);
    border-radius: 10px;
    border: 0;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 55
}
.roomSingle .left .buy-bar .button-holder .whitepaper .fade[data-v-8f0c54c8], .roomSingle .right .buy-bar .button-holder .whitepaper .fade[data-v-8f0c54c8] {
    height: 50px;
    width: 205px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(358.84deg, #3cc4d7 -38.41%, rgba(109, 243, 211, .5) 17.27%, rgba(97, 254, 160, 0) 63.69%);
    border-radius: 10px
}
.roomSingle .left .description[data-v-8f0c54c8], .roomSingle .right .description[data-v-8f0c54c8] {
    width: 100%;
    height: auto;
    float: left;
    margin-top: 30px;
    margin-bottom: 20px
}
.roomSingle .left .description h4[data-v-8f0c54c8], .roomSingle .right .description h4[data-v-8f0c54c8] {
    color: #fff;
    font-weight: 700;
    font-size: 16px
}
.roomSingle .left .description p[data-v-8f0c54c8], .roomSingle .right .description p[data-v-8f0c54c8] {
    color: #fff;
    font-family: Dosis;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .035em;
    text-align: left;
    margin-left: 0;
    margin-top: 10px
}
.roomSingle .left .properties[data-v-8f0c54c8], .roomSingle .right .properties[data-v-8f0c54c8] {
    width: 100%;
    height: auto;
    float: left
}
.roomSingle .left .properties h4[data-v-8f0c54c8], .roomSingle .right .properties h4[data-v-8f0c54c8] {
    color: #9393a4
}
.roomSingle .left .properties .location[data-v-8f0c54c8], .roomSingle .right .properties .location[data-v-8f0c54c8] {
    width: auto;
    height: auto;
    float: left;
    margin-top: 10px;
    margin-bottom: 20px
}
.roomSingle .left .properties .location img[data-v-8f0c54c8], .roomSingle .right .properties .location img[data-v-8f0c54c8] {
    margin-top: 10px;
    float: left;
    width: 20px
}
.roomSingle .left .properties .location .coordinates[data-v-8f0c54c8], .roomSingle .right .properties .location .coordinates[data-v-8f0c54c8] {
    float: left;
    margin-top: 11px;
    margin-left: 10px;
    background: linear-gradient(180deg, #3cc4d7, #6df3d3 54.53%, #61fea0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700
}
.roomSingle .left .properties .size[data-v-8f0c54c8], .roomSingle .right .properties .size[data-v-8f0c54c8] {
    width: auto;
    height: auto;
    float: left;
    margin-left: 45px;
    margin-top: 10px;
    margin-right: 45px;
    margin-bottom: 20px
}
.roomSingle .left .properties .size .grid_size[data-v-8f0c54c8], .roomSingle .right .properties .size .grid_size[data-v-8f0c54c8] {
    width: 20px;
    height: 20px;
    float: left;
    color: #fff;
    text-align: center;
    line-height: 20px;
    background: linear-gradient(180deg, #60e6b0 -22.73%, #23232f 356.82%);
    border-radius: 5px;
    margin-top: 7px
}
.roomSingle .left .properties .size .grid_size_text[data-v-8f0c54c8], .roomSingle .right .properties .size .grid_size_text[data-v-8f0c54c8] {
    float: left;
    margin-top: 8px;
    color: #fff;
    font-weight: 700
}
.roomSingle .left .properties .room_details[data-v-8f0c54c8], .roomSingle .right .properties .room_details[data-v-8f0c54c8] {
    width: auto;
    height: auto;
    float: left;
    margin-top: 10px
}
.roomSingle .left .properties .room_details .left[data-v-8f0c54c8], .roomSingle .left .properties .room_details .right[data-v-8f0c54c8], .roomSingle .right .properties .room_details .left[data-v-8f0c54c8], .roomSingle .right .properties .room_details .right[data-v-8f0c54c8] {
    width: auto;
    height: auto;
    float: left;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-right: 45px
}
.roomSingle .left .properties .room_details .left .value[data-v-8f0c54c8], .roomSingle .left .properties .room_details .right .value[data-v-8f0c54c8], .roomSingle .right .properties .room_details .left .value[data-v-8f0c54c8], .roomSingle .right .properties .room_details .right .value[data-v-8f0c54c8] {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    text-align: left;
    float: left;
    margin-top: 5px
}
.roomSingle .left .properties .room_details .left .value .link[data-v-8f0c54c8], .roomSingle .left .properties .room_details .right .value .link[data-v-8f0c54c8], .roomSingle .right .properties .room_details .left .value .link[data-v-8f0c54c8], .roomSingle .right .properties .room_details .right .value .link[data-v-8f0c54c8] {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer
}
.roomSingle .left .properties .room_details .left .value.room-number[data-v-8f0c54c8], .roomSingle .left .properties .room_details .right .value.room-number[data-v-8f0c54c8], .roomSingle .right .properties .room_details .left .value.room-number[data-v-8f0c54c8], .roomSingle .right .properties .room_details .right .value.room-number[data-v-8f0c54c8] {
    border: 2px solid #6df3d3;
    border-radius: 4px
}
@media only screen and (max-width:1024px) {
    .roomSingle[data-v-8f0c54c8] {
        width: 100%;
        left: 0;
        padding-top: 100px
    }
    .roomSingle .left[data-v-8f0c54c8], .roomSingle .right[data-v-8f0c54c8] {
        width: 100%;
        margin: 0
    }
    .roomSingle .left[data-v-8f0c54c8] {
        height: 450px
    }
    .roomSingle .left .nft-preview[data-v-8f0c54c8] {
        margin-top: -50px
    }
    .roomSingle .right .information-bar[data-v-8f0c54c8] {
        margin-left: 5%
    }
    .roomSingle .right .buy-bar[data-v-8f0c54c8] {
        width: 90%;
        float: none;
        margin: 0 auto
    }
}
@media only screen and (max-width:800px) {
    .right .information-bar .info-segment[data-v-8f0c54c8] {
        width: 100%!important;
        float: left
    }
    .roomSingle .season1[data-v-8f0c54c8] {
        float: none;
        margin: 15px auto
    }
    .ownerOf[data-v-8f0c54c8] {
        float: left;
        margin-top: 20px
    }
}
