width: 250px;
height: 70%;
          position: fixed;
left: 20px;
top: 210px;
background: linear-gradient(180deg,#2e2e3c 55.66%,#23232f 90.9%);
border-radius: 5px;
padding-top: 15px;
z-index: 5;


.sidebar {
  width: 100%;
}
