@import "./app.css";
@import "./chunk.css";
@import "./rooms.css";
@import "./bootstrap.min.css";

nav .nav-item:hover {
  .nav-label[data-v-65a92196] {
    i {
      color: white !important;
    }
  }
}

nav[data-v-65a92196] {
  top: 190px !important;
}

.nav-logout {
  background: #dc3545 !important;
  &:hover {
    background: lighten(#dc3545, 25%) !important;
  }
}
