@import "./app.css";
@import "./chunk.css";
@import "./rooms.css";
@import "./bootstrap.min.css";

nav .nav-item:hover {
  .nav-label[data-v-65a92196] {
    i {
      color: white !important;
    }
  }
}

nav[data-v-65a92196] {
  top: 190px !important;
}

.fuck-you-hannah {
  background: darken(rgb(64, 200, 215), 50%);
}

