@import url('https://use.typekit.net/wft3pdk.css');

body {
    font-family: ff-cocon-pro-condensed, sans-serif !important;
}

.page-container .page-content {
    font-family: ff-cocon-pro-condensed, sans-serif !important;
}

.rounded-button {
    font-family: ff-cocon-pro-condensed, sans-serif !important;
}
