
.roomSingle[data-v-b1f467f2] {
    width: calc(100% - 270px);
    height: auto;
    min-height: 95vh;
    float: left;
    position: relative;
    z-index: 1;
    left: 270px;
    margin-top: 160px;
    text-align: left
}
.roomSingle .season1[data-v-b1f467f2] {
    width: 75px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background: linear-gradient(99.11deg, #4bde88 -31.56%, #82fc63 215.5%);
    border-radius: 5px;
    float: left;
    margin-top: 10px;
    margin-left: 20px
}
.roomSingle h2[data-v-b1f467f2] {
    margin-left: 40px
}
.roomSingle p[data-v-b1f467f2] {
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    font-weight: 400;
    width: 90%;
    margin: 20px
}
.roomSingle .back[data-v-b1f467f2] {
    width: 90px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 20px;
    background: #454558;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    border: 0;
    cursor: pointer;
    line-height: 35px
}
.roomSingle .back img[data-v-b1f467f2] {
    width: 8px;
    margin-right: 7px;
    margin-bottom: -1px
}
.roomSingle .left[data-v-b1f467f2], .roomSingle .right[data-v-b1f467f2] {
    width: 50%;
    min-height: 135px;
    height: auto;
    float: left
}
.roomSingle .left .nft-title-holder[data-v-b1f467f2], .roomSingle .right .nft-title-holder[data-v-b1f467f2] {
    height: 30px;
    width: 280px;
    margin: 0 auto;
    text-align: center
}
.roomSingle .left .nft-title-holder h3[data-v-b1f467f2], .roomSingle .right .nft-title-holder h3[data-v-b1f467f2] {
    font-family: Dosis;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    color: #fff;
    font-size: 19px;
    float: left;
    width: 100%;
    text-align: center
}
.roomSingle .left .nft-preview[data-v-b1f467f2], .roomSingle .right .nft-preview[data-v-b1f467f2] {
    width: 100%;
    height: auto;
    float: left;
    position: relative
}
.roomSingle .left .nft-preview .circle[data-v-b1f467f2], .roomSingle .right .nft-preview .circle[data-v-b1f467f2] {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    margin-top: 90px
}
.roomSingle .left .nft-preview .gold[data-v-b1f467f2], .roomSingle .right .nft-preview .gold[data-v-b1f467f2] {
    background: linear-gradient(90deg, #fcb819 33.58%, #f99124 85.82%)!important
}
.roomSingle .left .nft-preview .rare[data-v-b1f467f2], .roomSingle .right .nft-preview .rare[data-v-b1f467f2] {
    background: linear-gradient(138.84deg, #9e21a9 2.02%, #7674e0 59.12%, #61e2fe 117.42%)!important
}
.roomSingle .left .nft-preview .common[data-v-b1f467f2], .roomSingle .right .nft-preview .common[data-v-b1f467f2] {
    background: linear-gradient(90deg, #00d1e6 33.58%, #00dacb 85.82%)!important
}
.roomSingle .left .nft-preview .super_rare[data-v-b1f467f2], .roomSingle .right .nft-preview .super_rare[data-v-b1f467f2] {
    background: linear-gradient(90deg, #e15288 33.58%, #d941a9 85.82%)!important
}
.roomSingle .left .nft-preview .epic[data-v-b1f467f2], .roomSingle .right .nft-preview .epic[data-v-b1f467f2] {
    background: linear-gradient(90deg, #f3793d 33.58%, #e4597b 85.82%)!important
}
.roomSingle .left .nft-preview .uncommon[data-v-b1f467f2], .roomSingle .right .nft-preview .uncommon[data-v-b1f467f2] {
    background: linear-gradient(90deg, #00e4aa 33.58%, #00e999 85.82%)!important
}
.roomSingle .left .nft-preview .fade[data-v-b1f467f2], .roomSingle .right .nft-preview .fade[data-v-b1f467f2] {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    opacity: .5;
    filter: blur(200px);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    margin-top: 90px
}
.roomSingle .left .nft-preview .room-image[data-v-b1f467f2], .roomSingle .right .nft-preview .room-image[data-v-b1f467f2] {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    max-height: 350px;
    max-width: 320px;
    width: 100%;
    object-fit: contain
}
.roomSingle .left .information-bar[data-v-b1f467f2], .roomSingle .right .information-bar[data-v-b1f467f2] {
    width: 90%;
    min-height: 85px;
    background: linear-gradient(180deg, #2e2e3c 55.66%, #23232f 125.89%);
    box-shadow: 0 4px 45px #00000026;
    border-radius: 5px;
    float: left;
    height: auto
}
.roomSingle .left .information-bar .vertical-line[data-v-b1f467f2], .roomSingle .right .information-bar .vertical-line[data-v-b1f467f2] {
    height: 50px;
    margin-top: 20px;
    width: 1px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    background: linear-gradient(90deg, #2f2f42 -11.48%, #717185 225.43%)
}
.roomSingle .left .information-bar .info-segment[data-v-b1f467f2], .roomSingle .right .information-bar .info-segment[data-v-b1f467f2] {
    width: 110px;
    height: 85px;
    float: left;
    text-align: center
}
.roomSingle .left .information-bar .info-segment .tag[data-v-b1f467f2], .roomSingle .right .information-bar .info-segment .tag[data-v-b1f467f2] {
    width: 100%;
    color: rgb(64, 200, 215);
    font-weight: bold;
    margin-top: 15px;
    display: block;
    font-size: 13px
}
.roomSingle .left .information-bar .info-segment .value-field[data-v-b1f467f2], .roomSingle .right .information-bar .info-segment .value-field[data-v-b1f467f2] {
    width: 60px;
    height: auto;
    font-size: 14px;
    color: #fff;
    padding: 8px 10px;
    background: linear-gradient(89.97deg, #2e2e3c -87.81%, #23232f 85.79%);
    border-radius: 5px;
    margin: 5px auto
}
.roomSingle .left .information-bar .info-segment .no-background[data-v-b1f467f2], .roomSingle .right .information-bar .info-segment .no-background[data-v-b1f467f2] {
    background: transparent
}
.roomSingle .left .rarity-holder[data-v-b1f467f2], .roomSingle .right .rarity-holder[data-v-b1f467f2] {
    width: 68px;
    height: 10px;
    margin: 15px auto
}
.roomSingle .left .buy-bar[data-v-b1f467f2], .roomSingle .right .buy-bar[data-v-b1f467f2] {
    width: 100%;
    height: auto;
    float: left;
    margin-top: 30px
}
.roomSingle .left .buy-bar .ownerOf[data-v-b1f467f2], .roomSingle .right .buy-bar .ownerOf[data-v-b1f467f2] {
    width: 200px;
    height: 45px;
    border: 1px solid #454558;
    border-radius: 5px;
    line-height: 45px;
    text-align: center;
    font-size: 15px;
    color: #9393a4;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 15px;
    cursor: pointer
}
.roomSingle .left .buy-bar .ownerOf .owner[data-v-b1f467f2], .roomSingle .right .buy-bar .ownerOf .owner[data-v-b1f467f2] {
    color: #fff;
    font-weight: 700;
    margin-right: 10px
}
.roomSingle .left .buy-bar .ownerOf[data-v-b1f467f2]:hover, .roomSingle .right .buy-bar .ownerOf[data-v-b1f467f2]:hover {
    border: 1px solid #fff
}
.roomSingle .left .buy-bar .owner-address[data-v-b1f467f2], .roomSingle .right .buy-bar .owner-address[data-v-b1f467f2] {
    float: left;
    margin-top: 0;
    height: 48px
}
.roomSingle .left .buy-bar .button-holder[data-v-b1f467f2], .roomSingle .right .buy-bar .button-holder[data-v-b1f467f2] {
    height: 60px;
    width: 100px;
    float: left
}
.roomSingle .left .buy-bar .button-holder .whitepaper[data-v-b1f467f2], .roomSingle .right .buy-bar .button-holder .whitepaper[data-v-b1f467f2] {
    height: 60px;
    width: 200px;
    margin-left: 5%;
    position: relative
}
.roomSingle .left .buy-bar .button-holder .whitepaper a[data-v-b1f467f2], .roomSingle .right .buy-bar .button-holder .whitepaper a[data-v-b1f467f2] {
    display: block;
    text-decoration: none;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    width: 200px;
    margin-left: 1%;
    margin-top: 7px;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    background: linear-gradient(87.46deg, #3cc4d7 -3.04%, #6df3d3 92.88%, #61fea0 172.86%);
    border-radius: 10px;
    border: 0;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 55
}
.roomSingle .left .buy-bar .button-holder .whitepaper .fade[data-v-b1f467f2], .roomSingle .right .buy-bar .button-holder .whitepaper .fade[data-v-b1f467f2] {
    height: 50px;
    width: 205px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(358.84deg, #3cc4d7 -38.41%, rgba(109, 243, 211, .5) 17.27%, rgba(97, 254, 160, 0) 63.69%);
    border-radius: 10px
}
.roomSingle .left .description[data-v-b1f467f2], .roomSingle .right .description[data-v-b1f467f2] {
    width: 100%;
    height: auto;
    float: left;
    margin-top: 30px;
    margin-bottom: 20px
}
.roomSingle .left .description h4[data-v-b1f467f2], .roomSingle .right .description h4[data-v-b1f467f2] {
    color: #fff;
    font-weight: 700;
    font-size: 16px
}
.roomSingle .left .description p[data-v-b1f467f2], .roomSingle .right .description p[data-v-b1f467f2] {
    color: #fff;
    font-family: Dosis;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .035em;
    text-align: left;
    margin-left: 0;
    margin-top: 10px
}
.roomSingle .left .properties[data-v-b1f467f2], .roomSingle .right .properties[data-v-b1f467f2] {
    width: 100%;
    height: auto;
    float: left
}
.roomSingle .left .properties h4[data-v-b1f467f2], .roomSingle .right .properties h4[data-v-b1f467f2] {
    color: #9393a4
}
.roomSingle .left .properties .location[data-v-b1f467f2], .roomSingle .right .properties .location[data-v-b1f467f2] {
    width: auto;
    height: auto;
    float: left;
    margin-top: 10px;
    margin-bottom: 20px
}
.roomSingle .left .properties .location img[data-v-b1f467f2], .roomSingle .right .properties .location img[data-v-b1f467f2] {
    margin-top: 10px;
    float: left;
    width: 20px
}
.roomSingle .left .properties .location .coordinates[data-v-b1f467f2], .roomSingle .right .properties .location .coordinates[data-v-b1f467f2] {
    float: left;
    margin-top: 11px;
    margin-left: 10px;
    background: linear-gradient(180deg, #3cc4d7 0%, #6df3d3 54.53%, #61fea0 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700
}
.roomSingle .left .properties .size[data-v-b1f467f2], .roomSingle .right .properties .size[data-v-b1f467f2] {
    width: auto;
    height: auto;
    float: left;
    margin: 10px 45px 20px
}
.roomSingle .left .properties .size .grid_size[data-v-b1f467f2], .roomSingle .right .properties .size .grid_size[data-v-b1f467f2] {
    width: 20px;
    height: 20px;
    float: left;
    color: #fff;
    text-align: center;
    line-height: 20px;
    background: linear-gradient(180deg, #60e6b0 -22.73%, #23232f 356.82%);
    border-radius: 5px;
    margin-top: 7px
}
.roomSingle .left .properties .size .grid_size_text[data-v-b1f467f2], .roomSingle .right .properties .size .grid_size_text[data-v-b1f467f2] {
    float: left;
    margin-top: 8px;
    color: #fff;
    font-weight: 700
}
.roomSingle .left .properties .room_details[data-v-b1f467f2], .roomSingle .right .properties .room_details[data-v-b1f467f2] {
    width: auto;
    height: auto;
    float: left;
    margin-top: 10px
}
.roomSingle .left .properties .room_details .left[data-v-b1f467f2], .roomSingle .left .properties .room_details .right[data-v-b1f467f2], .roomSingle .right .properties .room_details .left[data-v-b1f467f2], .roomSingle .right .properties .room_details .right[data-v-b1f467f2] {
    width: auto;
    height: auto;
    float: left;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-right: 45px
}
.roomSingle .left .properties .room_details .left .value[data-v-b1f467f2], .roomSingle .left .properties .room_details .right .value[data-v-b1f467f2], .roomSingle .right .properties .room_details .left .value[data-v-b1f467f2], .roomSingle .right .properties .room_details .right .value[data-v-b1f467f2] {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    text-align: left;
    float: left;
    margin-top: 5px
}
.roomSingle .left .properties .room_details .left .value .link[data-v-b1f467f2], .roomSingle .left .properties .room_details .right .value .link[data-v-b1f467f2], .roomSingle .right .properties .room_details .left .value .link[data-v-b1f467f2], .roomSingle .right .properties .room_details .right .value .link[data-v-b1f467f2] {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer
}
.roomSingle .left .properties .room_details .left .value.room-number[data-v-b1f467f2], .roomSingle .left .properties .room_details .right .value.room-number[data-v-b1f467f2], .roomSingle .right .properties .room_details .left .value.room-number[data-v-b1f467f2], .roomSingle .right .properties .room_details .right .value.room-number[data-v-b1f467f2] {
    border: 2px solid #6df3d3;
    border-radius: 4px
}
@media only screen and (max-width: 1024px) {
    .roomSingle[data-v-b1f467f2] {
        width: 100%;
        left: 0;
        margin-top: 40px;
        padding-top: 100px
    }
    .roomSingle .left[data-v-b1f467f2], .roomSingle .right[data-v-b1f467f2] {
        width: 100%;
        margin: 0
    }
    .roomSingle .left[data-v-b1f467f2] {
        height: 450px
    }
    .roomSingle .left .nft-preview[data-v-b1f467f2] {
        margin-top: -50px
    }
    .roomSingle .right .information-bar[data-v-b1f467f2] {
        margin-left: 5%
    }
    .roomSingle .right .buy-bar[data-v-b1f467f2] {
        width: 90%;
        float: none;
        margin: 0 auto
    }
}
@media only screen and (max-width: 800px) {
    .right .information-bar .info-segment[data-v-b1f467f2] {
        width: 100%!important;
        float: left
    }
    .roomSingle .season1[data-v-b1f467f2] {
        float: none;
        margin: 15px auto
    }
    .ownerOf[data-v-b1f467f2] {
        float: left;
        margin-top: 20px
    }
}
